.btn-action {
	padding: vw(12) vw(64);
	background-color: $accent-color;
	border: none;

	&--hero {
		position: relative;
		padding: 20px 93px 20px 23px;
	}

	&--hero::before {
		content: url("../images/icons/phone-icon.svg");
		position: absolute;
		top: 37%;
		right: 20%;
		z-index: 3;
	}

	&--hero::after {
		content: url("../images/icons/arrow-icon.svg");
		position: absolute;
		top: 32%;
		right: 9%;
	}
}

.btn-action__icons {
	position: absolute;
	top: 25%;
	right: 5%;
	width: 70px;
	height: 32px;
	background-color: rgba(#fff, 0.9);
}
