.btn-action {
	padding: vw(12) vw(64);
	text-align: center;
	background-color: $accent-color;
	border: none;
	cursor: pointer;

	&--white {
		background-color: #fff;
	}

	@include _1024 {
		padding: vmin(12) vmin(64);
	}
}
