.close-btn {
	display: inline-block;
	width: 4px;
	height: 36px;

	background-color: #000;

	transform: rotate(36deg);

	&::before {
		content: "";

		display: block;
		width: 4px;
		height: 36px;
		background-color: #000;

		transform: rotate(110deg);
	}
}
