@font-face {
	font-family: "Muller";
	font-style: normal;
	font-weight: 400;
	src: 
	url("../fonts/Muller-Regular/MullerRegular.woff") format("woff"),
	url("../fonts/Muller-Regular/MullerRegular.eot") format("eot"),
	url("../fonts/Muller-Regular/MullerRegular.ttf") format("ttf"),
	url("../fonts/Muller-Regular/MullerRegular.svg") format("svg");
}

@font-face {
	font-family: "Muller";
	font-style: normal;
	font-weight: 500;
	src: 
	url("../fonts/Muller-Medium/MullerMedium.woff") format("woff"),
	url("../fonts/Muller-Medium/MullerMedium.eot") format("eot"),
	url("../fonts/Muller-Medium/MullerMedium.ttf") format("ttf"),
	url("../fonts/Muller-Medium/MullerMedium.svg") format("svg")
}

@font-face {
	font-family: "Muller";
	font-style: normal;
	font-weight: 700;
	src: 
	url("../fonts/Muller-Bold/MullerBold.woff") format("woff"),
	url("../fonts/Muller-Bold/MullerBold.eot") format("eot"),
	url("../fonts/Muller-Bold/MullerBold.ttf") format("ttf"),
	url("../fonts/Muller-Bold/MullerBold.svg") format("svg")
}
