.hero {
	min-height: vw(845);
	background: url("../images/hero-desktop-bg.jpg") center -80px no-repeat;
	background-size: cover;
}

.hero__title {
	max-width: vw(673);
	padding-top: vw(93);
	font-size: vw(48);
	font-weight: 500;
	line-height: vw(48);
}

.hero__text {
	max-width: vw(236);
	margin-bottom: vw(61);
	font-size: vw(24);
	margin-top: vw(-12);
	line-height: vw(32);
}

.hero__btn {
	position: relative;
	padding-right: 180px;
}
