.hero {
	background: url("../images/hero-desktop-bg.jpg") 50% 255% no-repeat;
	background-size: cover;
}

.hero__wrapper {
	padding-top: vw(60);
	padding-bottom: vw(266);

}

.hero__title {
	margin-bottom: vw(12);
}

.hero__text {
	max-width: vw(236);
	margin-bottom: vw(61);
	font-size: vw(24);
	line-height: vw(29);
}

.hero__btn {
	position: relative;
	padding-right: 180px;
}
