.hero {
	min-height: vw(870);
	background: url("../images/hero-desktop-bg.jpg") 50% 255% / cover no-repeat;
	background-color: $bg-color;

	@include _1024 {
		min-height: vmin(500);
		background-image: none;
	}
}

.hero__wrapper {
	padding: vw(93) vw(11);
}

.hero__title {
	max-width: vw(680);
	margin-bottom: vw(12);

	@include _1024 {
		max-width: vmin(460);
		margin-bottom: vmin(60);
	}
}

.hero__form {
	max-width: vw(286);
	display: flex;
	flex-direction: column;

	@include _1024 {
		max-width: vmin(286);
	}
}

.hero__btn {
	position: relative;
	padding: vw(20) vw(93) vw(20) vw(23);

	@include _1024 {
		padding: vmin(20) vmin(93) vmin(20) vmin(23);
	}

	&::before {
		content: "";
		position: absolute;
		top: 37%;
		right: 20%;
		width: vw(14);
		height: vw(14);
		background: url("../images/icons/phone-icon.svg") center / 100% no-repeat;
		z-index: 3;

		@include _1024 {
			width: vmin(14);
			height: vmin(14);
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 42%;
		right: 9%;
		width: vw(21);
		height: vw(8);
		background: url("../images/icons/arrow-icon.svg") center / 100% no-repeat;

		@include _1024 {
			width: vmin(21);
			height: vmin(8);
		}
	}
}

.hero__icons {
	position: absolute;
	top: 20%;
	right: 5%;
	width: vw(70);
	height: vw(32);
	background-color: rgba(#fff, 0.9);

	@include _1024 {
		width: vmin(70);
		height: vmin(32);
	}
}

.hero__text {
	position: relative;
	max-width: vw(236);
	margin-bottom: vw(61);
	font-size: vw(24);
	line-height: vw(29);

	@include _1024 {
		max-width: vmin(180);
		margin-bottom: vmin(10);
		font-size: vmin(14);
		line-height: 1;
	}
}

.hero__text::after {
	content: "";
	position: absolute;
	width: vw(91);
	height: vw(117);
	top: -10%;
	right: -50%;
	background: url("../images/icons/point-arrow-icon.svg") center / 100% no-repeat;

	@include _1024 {
		display: none;
	}
}
