.individual-order {
	background-color: $accent-color;
}

.individual-order__wrapper {
	position: relative;
	padding: vw(60) 0;
}

.individual-order__title {
	position: absolute;
	top: 8%;
	right: 10%;

	@include _1024 {
		position: static;
	}
}

.individual-order__inner {
	display: flex;

	@include _1024 {
		flex-direction: column;
	}
}

.individual-order__gallery {
	margin-right: vw(40);

	@include _1024 {
		margin: 0;
	}
}

.individual-order__steps {
	max-width: vw(538);
	padding-top: vw(60);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include _1024 {
		max-width: 100%;
	}
}

.individual-order__list {
	counter-reset: myCounter;
	margin-bottom: vw(40);
}

.individual-order__item {
	position: relative;
	padding-left: vw(60);

	@include _1024 {
		padding-left: vmin(30);
	}
}

.individual-order__item:not(:last-child) {
	margin-bottom: vw(40);
}

.individual-order__item::before {
	content: counter(myCounter);
	counter-increment: myCounter;
	position: absolute;
	top: -3%;
	left: 0;
	font-size: vw(36);

	@include _1024 {
		font-size: vmin(24);
	}
}

.individual-order__item:not(:last-child):after {
	content: '';
	position: absolute;
	top: 100%;
	left: vw(4);
	width: vw(11);
	height: vw(6);
	background: url(../images/icons/step-check-icon.svg) center / 100% no-repeat;
	opacity: 0.5;

	@include _1024 {
		display: none;
	}
}
