.info__wrapper {
	padding: vw(96) vw(12) vw(154);
}

.info__list {
	display: flex;
	justify-content: space-between;
	max-width: vw(967);

	@include _1024 {
		flex-direction: column;
		max-width: 100%;
	}
}

.info__item {
	@include _1024 {
		margin-bottom: vmin(30);
	}
}

.info__text {
	position: relative;
	margin: 0;
	padding-top: vw(80);
	font-size: vw(24);

	@include _1024 {
		padding-top: vmin(44);
		font-size: vmin(22);
	}
}

.info__text--order::before {
	content: "";
	position: absolute;
	height: vw(80);
	width: vw(80);
	top: 0;
	left: 0;
	background: url("../images/icons/kitchen-icon.svg") center / cover no-repeat;

	@include _1024 {
		height: vmin(40);
		width: vmin(40);
	}
}

.info__text--warranty::before {
	content: "";
	position: absolute;
	height: vw(80);
	width: vw(80);
	top: 0;
	left: 0;
	background: url("../images/icons/warranty-contract-icon.svg") center / cover no-repeat;

	@include _1024 {
		height: vmin(40);
		width: vmin(40);
	}
}

.info__text--delivery::before {
	content: "";
	position: absolute;
	height: vw(100);
	width: vw(100);
	top: 0;
	left: 0;
	background: url("../images/icons/delivery-icon.svg") center / cover no-repeat;

	@include _1024 {
		height: vmin(40);
		width: vmin(60);
	}
}

.info__link {
	font-size: vw(15);
	border-bottom: 1px solid #000;

	@include _1024 {
		font-size: vmin(12);
	}
}
