.info__wrapper {
	padding: vw(96) vw(12) vw(154);
}

.info__list {
	display: flex;
	justify-content: space-between;
	max-width: vw(967);
}

.info__text {
	position: relative;
	margin: 0;
	padding-top: vw(80);
	font-size: vw(24);
}

.info__text--order::before {
	content: "";
	position: absolute;
	height: vw(80);
	width: vw(80);
	top: 0;
	left: 0;
	background: url("../images/icons/kitchen-icon.svg") no-repeat;
	background-size: cover;
}

.info__text--warranty::before {
	content: "";
	position: absolute;
	height: vw(80);
	width: vw(80);
	top: 0;
	left: 0;
	background: url("../images/icons/warranty-contract-icon.svg") no-repeat;
	background-size: cover;
}

.info__text--delivery::before {
	content: "";
	position: absolute;
	height: vw(100);
	width: vw(100);
	top: 0;
	left: 0;
	background: url("../images/icons/delivery-icon.svg") no-repeat;
	background-size: cover;
}

.info__link {
	font-size: vw(15);
	border-bottom: 1px solid #000;
}