.main__wrapper {
	padding: vw(134) 0 vw(105);
	background-color: $bg-color;
}

.main__inner {
	display: flex;
	margin-bottom: vw(100);

	@include _1024 {
		flex-direction: column;
	}
}

.main__section {
	margin-bottom: vw(105);
}