.nav-catalog__wrapper {
	padding: vw(182) vw(10) vw(72);
	border-bottom: 1px solid #e5e5e5;
}

.nav-catalog__headline {
	margin-bottom: vw(30);
}

.nav-catalog__list {
	display: flex;
	flex-wrap: wrap;

	@include _1024 {
		flex-direction: column;
	}
}

.nav-catalog__item {
	max-width: vw(242);

	@include _1024 {
		max-width: 100%;
	}
}

.nav-catalog__item:not(:last-child) {
	margin-right: vw(12);
}

.nav-catalog__img {
	margin-bottom: vw(11);
}

.nav-catalog__title {
	margin: 0;
	font-weight: 400;
}
