.nav-catalog__wrapper {
	padding: vw(182) vw(10) vw(72);
	border-bottom: 1px solid #E5E5E5;
}

.nav-catalog__headline {
	margin-bottom: vw(30);
}

.nav-catalog__list {
	display: flex;
	justify-content: space-between;
}

.nav-catalog__item {
	max-width: vw(242);
}

.nav-catalog__img {
	margin-bottom: vw(11);
}

.nav-catalog__title {
	margin: 0;
	font-size: vw(18);
	font-weight: 400;
}