html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover
}

@import "_vars";
@import "_mixins";
@import "_fonts";
@import "_link";
@import "_list";
@import "_btn-action";
@import "_container";
@import "visually-hidden";
@import "_page";
@import "_title";
@import "lead-form";
@import "_main";
@import "_header";
@import "_hero";
@import "_benefits";
@import "_nav-catalog";
@import "_info";
@import "_catalog";
@import "_slider-catalog";
@import "_btn-more";
@import "_individual-order";
@import "_gallery";
@import "add-info";
@import "_inst";
@import "_brands";
@import "lead-trigger";
@import "_footer";
@import "_product-popup";