html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@import "vars";
@import "mixins";
@import "fonts";
@import "link";
@import "list";
@import "btn-action";
@import "container";
@import "visually-hidden";
@import "page";
@import "title";
@import "lead-form";
@import "main";
@import "header";
@import "hero";
@import "benefits";
@import "nav-catalog";
@import "info";
@import "catalog";
@import "slider-catalog";
@import "btn-more";
@import "individual-order";
@import "gallery";
@import "add-info";
@import "inst";
@import "brands";
@import "lead-trigger";
@import "footer";
@import "product-popup";