html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	margin: 0;
}

li {
	padding: 0;
}

@import "_mixins";
@import "_vars";
@import "_fonts";
@import "_link";
@import "_list";
@import "_container";
@import "visually-hidden";
@import "_page";
@import "_logo";
@import "_title";
@import "_header";
@import "_hero";
@import "lead-form";
@import "_btn-action";
@import "_benefits";
@import "_nav-catalog";